@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header{
   
    height: 40px;
    width: 100%;
    display: flex;
    float: left;
    justify-content: center;
}

.sign{
    font-family: 'robotoregular';
    color: #0088C9;
    padding-right: 30px;
}

.get{
    font-family: 'robotoregular';
    color: #0088C9;
    border-radius: 10px;
    border: 1px solid #0088C9; 
    width: 100px;
    height: 30px; 
    margin-top: 10px;
    
}
.get p{
    margin-top: 5px;
}
h1{
    color: #005383;
    font-family: 'robotoregular';}

h2{
     font-family: 'robotoregular';
    color: #0088C9;
}

#bg{
    margin-top: 0px;
    background-color: #3BC6F1;
    width: 100%;
    height: 550px;
    position: relative;
    text-align: center;
}


.logo{ padding-right: 850px;
     margin-top: 5px;
}

.ursos img{
width: 250px;
margin-top: 100px;
}

li {
    margin: 20px;
    font-family: 'robotoregular';
    color: #0088C9;
    font-size: 15px;
  
}

ul{
    list-style-type: none;
    overflow: hidden;
    margin-top: 80px;
}

.menu li{
    display: inline;
   
}

.colunas{
      display: grid;
  grid-gap: 10px;
  grid-template-columns: 315px 315px 315px;
  padding: 20px;
  justify-content: center;
  text-align: left;
min-width: 750px;
}


.titulo{
    font-family: 'robotoregular';
    color: black;
    font-size: 20px;
    
}

.texto{
    font-family: 'robotoregular';
    color: darkgrey;
    font-size: 15px;
}